<footer class="footer">
    <div class="container">
        <div class="row footer__parts">
            <div class="footer__left">
                <div class="footer__nav">
                    <ul class="menu__left">
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Доставка, оплата</a></li>
                        <li><a href="#">Сервис</a></li>
                        <li><a href="#">Запчасти</a></li>
                    </ul>
                    <ul class="menu__left">
                        <li><a href="#">Полезная информация</a></li>
                        <li><a href="#">Вакансии</a></li>
                        <li><a href="#">Сотрудничество</a></li>
                    </ul>
                </div>
                <div class="footer__phone">
                    Тел: <a href="tel:88003336617">8 800 333 66 17</a>
                </div>
            </div>
            <div class="footer__right">
                <div class="footer__company">
                    ООО “Группа компаний<br />
                    ГК СТ Групп”
                </div>
                <div class="footer__logo">
                    <a href="#"><img src="/assets/template/img/logo-footer.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="row footer__parts footer__parts--bottom">
            <div class="footer__left">
                <a href="#" class="footer__private">Политика конфиденциальности</a>
            </div>
            <div class="footer__right">
                <div class="footer__rekv">ИНН 0274905410  ОГРН 1150280033936 от 28.05.2015</div>
            </div>
        </div>
    </div>
</footer>
<section class="postfooter">
    <div class="container">
        Данный сайт носит исключительно информационный характер и ни при каких условиях информационные материалы и цены, размещенные на сайте, не являются публичной офертой,
        определяемой положениями Статей 435 и 437 гражданского кодекса РФ.
    </div>
</section>

<script src="assets/template/vendor/jquery-3.2.1.min.js"></script>
<script src="assets/template/vendor/slick/slick.js"></script>
<script src="assets/template/vendor/wow.min.js"></script>
<script src="assets/template/js/scripts.js"></script>
</body>
</html>