//= include/header.html

<section class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Каталог продукции</a></li>
            <li><a href="/">Складская техника</a></li>
            <li><a href="/">Штабелеры самоходные</a></li>
            <li class="active">Штабелер ZOWELL XEA 1033</li>
        </ul>
    </div>
</section>

<section class="filter">
    <div class="container">
        <div class="filter__box">
            <div class="filter__item filter__one">
                <div class="filter__name">Грузоподъёмность (тонны)</div>
                <div class="filter__value">
                    <label>
                        <input type="checkbox" name="grp[]">1.5
                    </label>
                    <label>
                        <input type="checkbox" name="grp[]">2
                    </label>
                </div>
            </div>
            <div class="filter__item filter__two">
                <div class="filter__name">Высота подъема (метр)</div>
                <div class="filter__value">
                    <label>
                        <input type="checkbox" name="vp[]">1.6
                    </label>
                    <label>
                        <input type="checkbox" name="vp[]">2.5
                    </label>
                    <label>
                        <input type="checkbox" name="vp[]">3
                    </label>
                    <label>
                        <input type="checkbox" name="vp[]">3.5
                    </label>
                    <label>
                        <input type="checkbox" name="vp[]">4
                    </label>
                    <label>
                        <input type="checkbox" name="vp[]">4.5
                    </label>
                    <label>
                        <input type="checkbox" name="vp[]">5
                    </label>
                    <label>
                        <input type="checkbox" name="vp[]">5.5
                    </label>
                </div>                
            </div>
        </div>
    </div>
</section>
<section class="catalog">
    <div class="container">
        <div class="catalog__list">
            <div class="catalog__item">
                <div class="product-item">
                    <div class="product-item__image">
                        <img src="/assets/template/img/tmp/product-item-1.png" alt="">
                    </div>
                    <div class="product-item__name">
                        <span>Штабелер</span> ZOWELL XE 1545
                    </div>
                    <div class="product-item__info">
                        <div class="product-item__option">
                            <div class="option__name">Высота подъема вил (м):</div>
                            <div class="option__value">4,5</div>
                        </div>
                        <div class="product-item__option">
                            <div class="option__name">Грузоподъёмность (кг):</div>
                            <div class="option__value">1500</div>
                        </div>
                    </div>
                    <a class="product-item__overlay" href="/product.html"></a>
                </div>
            </div>
            <div class="catalog__item">
                <div class="product-item">
                    <div class="product-item__image">
                        <img src="/assets/template/img/tmp/product-item-1.png" alt="">
                    </div>
                    <div class="product-item__name">
                        <span>Штабелер</span> ZOWELL XE 1545
                    </div>
                    <div class="product-item__info">
                        <div class="product-item__option">
                            <div class="option__name">Высота подъема вил (м):</div>
                            <div class="option__value">4,5</div>
                        </div>
                        <div class="product-item__option">
                            <div class="option__name">Грузоподъёмность (кг):</div>
                            <div class="option__value">1500</div>
                        </div>
                    </div>
                    <a class="product-item__overlay" href="/product.html"></a>
                </div>
            </div>
            <div class="catalog__item">
                <div class="product-item">
                    <div class="product-item__image">
                        <img src="/assets/template/img/tmp/product-item-1.png" alt="">
                    </div>
                    <div class="product-item__name">
                        <span>Штабелер</span> ZOWELL XE 1545
                    </div>
                    <div class="product-item__info">
                        <div class="product-item__option">
                            <div class="option__name">Высота подъема вил (м):</div>
                            <div class="option__value">4,5</div>
                        </div>
                        <div class="product-item__option">
                            <div class="option__name">Грузоподъёмность (кг):</div>
                            <div class="option__value">1500</div>
                        </div>
                    </div>
                    <a class="product-item__overlay" href="/product.html"></a>
                </div>
            </div>
            <div class="catalog__item">
                <div class="product-item">
                    <div class="product-item__image">
                        <img src="/assets/template/img/tmp/product-item-1.png" alt="">
                    </div>
                    <div class="product-item__name">
                        <span>Штабелер</span> ZOWELL XE 1545
                    </div>
                    <div class="product-item__info">
                        <div class="product-item__option">
                            <div class="option__name">Высота подъема вил (м):</div>
                            <div class="option__value">4,5</div>
                        </div>
                        <div class="product-item__option">
                            <div class="option__name">Грузоподъёмность (кг):</div>
                            <div class="option__value">1500</div>
                        </div>
                    </div>
                    <a class="product-item__overlay" href="/product.html"></a>
                </div>
            </div>

        </div>
    </div>
</section>


//= include/footer.html