<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <!-- @if NODE_ENV='development' -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i" rel="stylesheet">
    <link rel="stylesheet" href="/assets/template/css/main.css">
    <!-- @endif -->
</head>
<body>

<header>

    <nav class="topmenu">
        <div class="container">
            <ul class="topmenu__list">
                <li><a href="#">О нас</a></li>
                <li class="sep"></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li class="sep"></li>
                <li><a href="#">Сервис</a></li>
                <li class="sep"></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </nav>
    <!--nav role='navigation'>
        <div class="container">
          <ul>
            <li><a href="#"><span>О нас</span></a></li>
            <li><a href="#"><span>Доставка и оплата</span></a></li>
            <li><a href="#"><span>Сервис</span></a></li>
            <li><a href="#"><span>Контакты</span></a></li>
          </ul>
        </div>
    </nav-->
    <div class="header__body">
        <div class="container header__box">
            <div class="header__logo">
                <img src="/assets/template/img/logo.png" alt="">
            </div>
            <div class="header__center">
                <form action="" class="search">
                    <input type="text" class="search__input">
                    <button type="submit" class="search__submit"></button>
                </form>
            </div>
            <div class="header__contacts">
                <div class="header__phone"><a href="tel:88003336617">8 800 333-66-17</a></div>
                <div class="header__email"><a href="mailto:info@pogruz­online.ru">info@pogruz­online.ru</a></div>
                <div class="header__address">Москва</div>
            </div>
        </div>
    </div>

    <nav class="section-menu">
        <div class="container">
            <ul class="section-menu__list">
                <li><a href="#">Штабелеры  самоходные</a></li>
                <li class="sep"></li>
                <li><a href="#">Штабелеры с выдвижной мачтой</a></li>
                <li class="sep"></li>
                <li><a href="#">Ричтраки</a></li>
                <li class="sep"></li>
                <li><a href="#">Электропогрузчики</a></li>
                <li class="sep"></li>
                <li><a href="#">Электротележки</a></li>
            </ul>
        </div>
    </nav>

</header>

<section class="zowell">
    <div class="container zowell__tech">
            <img src="/assets/template/img/zowell/image-1.png" alt="">
            <img src="/assets/template/img/zowell/image-2.png" alt="">
            <img src="/assets/template/img/zowell/image-3.png" alt="">
            <div class="zowell__lead">
                <div class="lead-box">
                    <div class="lead-box__caption">
                        ПРОДАЖА складской техники <span class="orange">ZOWELL</span>
                    </div>
                    <ul class="lead-box__items">
                        <li>Гарантия 2 года</li>
                        <li class="sep"></li>
                        <li>Сервис по всей России</li>
                        <li class="sep"></li>
                        <li>Запчасти на складе</li>
                    </ul>
                </div>
            </div>
    </div>
</section>

<section class="reliable">
    <div class="container">
        <h2>Высокопроизводительные и надежные</h2>
        <div class="reliable__box">
            <div class="reliable__propery">
                <ul class="reliable__list">
                    <li class="reliable__1">Многофункциональные системы безопасности - защита от перегрузки, травм и повреждений.</li>
                    <li class="reliable__2">Надежная электрика - работает без отказов</li>
                    <li class="reliable__3">Улучшенный гидронасос - легко работать с тяжелыми грузами</li>
                    <li class="reliable__4">Использование высокопрочного стального профиля</li>
                    <li class="reliable__5">Эргономичная рукоятка - удобство в работе</li>
                </ul>
            </div>
            <div class="reliable__sample">
                <div class="reliable__sheet">
                    <div class="reliable__caption">Штабелер<br /> ZOWELL XEA 1233</div>
                    <div class="reliable__label">Высота подъема вил (м):</div>
                    <div class="reliable__value">3,3</div>
                    <div class="reliable__label">Грузоподъёмность (кг):</div>
                    <div class="reliable__value">1200</div>
                </div>

                <img class="reliable__image" src="/assets/template/img/zowell-1233.png" alt="">
            </div>
        </div>
        

    </div>
</section>

<footer>

</footer>
</body>
</html>