<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <!-- @if NODE_ENV='development' -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i" rel="stylesheet">
    <link rel="stylesheet" href="/assets/template/css/main.css">
    <!-- @endif -->
</head>
<body>

<header>

    <nav class="topmenu">
        <div class="container">
            <ul class="topmenu__list">
                <li><a href="#">О нас</a></li>
                <li class="sep"></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li class="sep"></li>
                <li><a href="#">Сервис</a></li>
                <li class="sep"></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </nav>
    <div class="header__body">
        <div class="container header__box">
            <div class="header__logo">
                <img src="/assets/template/img/logo.png" alt="">
            </div>
            <div class="header__center">
                <form action="" class="search">
                    <input type="text" class="search__input">
                    <button type="submit" class="search__submit"></button>
                </form>
            </div>
            <div class="header__contacts">
                <div class="header__phone"><a href="tel:88003336617">8 800 333-66-17</a></div>
                <div class="header__email"><a href="mailto:info@pogruz­online.ru">info@pogruz­online.ru</a></div>
                <div class="header__address">Москва</div>
            </div>
        </div>
    </div>

    <nav class="section-menu">
        <div class="container">
            <ul class="section-menu__list">
                <li><a href="#">Штабелеры  самоходные</a></li>
                <li class="sep"></li>
                <li><a href="#">Штабелеры с выдвижной мачтой</a></li>
                <li class="sep"></li>
                <li><a href="#">Ричтраки</a></li>
                <li class="sep"></li>
                <li><a href="#">Электропогрузчики</a></li>
                <li class="sep"></li>
                <li><a href="#">Электротележки</a></li>
            </ul>
        </div>
    </nav>

</header>

<section class="zowell">
    <div class="container zowell__tech">
            <img src="/assets/template/img/zowell/image-1.png" alt="">
            <img src="/assets/template/img/zowell/image-2.png" alt="">
            <img src="/assets/template/img/zowell/image-3.png" alt="">
            <div class="zowell__lead">
                <div class="lead-box">
                    <div class="lead-box__caption">
                        ПРОДАЖА складской техники <span class="orange">ZOWELL</span>
                    </div>
                </div>
            </div>
    </div>
</section>

<footer>

</footer>
</body>
</html>