//= include/header.html

<section class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Каталог продукции</a></li>
            <li><a href="/">Складская техника</a></li>
            <li><a href="/">Штабелеры самоходные</a></li>
            <li class="active">Штабелер ZOWELL XEA 1033</li>
        </ul>
    </div>
</section>

<section class="product-main">
    <div class="container product-main__box">
        <div class="product-main__photos">
            <div class="product-photos">
                <a href="#"><img class="product-photos__image" src="/assets/template/img/tmp/product-1.jpg" alt=""></a>
            </div>
            <div class="product-previews">
                <div><div class="product-previews__item active" data-src="/assets/template/img/tmp/product-1.jpg" style="background-image: url('/assets/template/img/tmp/product-1.jpg')"></div></div>
                <div><div class="product-previews__item" data-src="/assets/template/img/tmp/product-2.jpg" style="background-image: url('/assets/template/img/tmp/product-2.jpg')"></div></div>
                <div><div class="product-previews__item" data-src="/assets/template/img/tmp/product-3.jpg" style="background-image: url('/assets/template/img/tmp/product-3.jpg')"></div></div>
                <div><div class="product-previews__item" data-src="/assets/template/img/tmp/product-4.jpg" style="background-image: url('/assets/template/img/tmp/product-4.jpg')"></div></div>
                <div><div class="product-previews__item" data-src="/assets/template/img/tmp/product-2.jpg" style="background-image: url('/assets/template/img/tmp/product-2.jpg')"></div></div>
            </div>
        </div>
        <div class="product-main__info">
            <div class="product-main__name">
                СЕГОДНЯ ХОЧУ ПРЕДСТАВИТЬ ВАМ штабелер Zowell xe 1545
            </div>
            <div class="product-main__options">
                <ul>
                    <li>Грузоподъёмность 1,5 тонны.</li>
                    <li>Трехсекционная мачта.</li>
                    <li>Высота подъема 4,5 метра и свободным ходом.</li>
                </ul>
            </div>
            <div class="product-main__descr">
                Штабелер может использоваться в магазинах, торговых центрах,
                складских помещениях, при разгрузке фур и тд.
                Модель Zowell xe 1545 была разработана для максимальной
                оптимизации работы на складе. Штабелер может работать 24
                часа в сутки, 7 дней в неделю.
            </div>
            <div class="product-main__xar">
                <a href="#">Технические характеристики</a>
            </div>
            <div class="callback-forma">
                <form action="">
                    <div class="callback-forma__inputs">
                        <input type="text" name="email" class="callback-forma__input">
                        <button type="submit" class="btn">Заказать звонок</button>
                    </div>
                    <label class="callback-forma__fz152">
                        <input class="checkbox" name="iagree" type="checkbox" checked value="Согласен">
                        <span class="checkbox-custom"></span>
                        <span class="label">Соглашаюсь на обработку персональных данных</span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="b-double b-double--image-text">
    <div class="-container">
        <div class="b-double__box">
            <div class="b-double__image" style="background-image: url('/assets/template/img/tmp/product-bg-1.jpg');">
                <div class="b-double__label wow bounceInLeft">
                    <div class="b-double__label-caption">
                        Грузоподъемность
                    </div>
                    <div class="b-double__label-text">
                        Грузоподъёмность 1,5 тонны.
                        Трехсекционная мачта.
                    </div>
                </div>
            </div>
            <div class="b-double__text">
                <p>Давайте говорить честно: на складе полы бывают
                    с неровностями. В штабелере xe1545 используется
                    система EPS электро усилитель рулевого колеса.</p>

                <p>Он позволяет без усилий управлять штабелером
                    на неровных полах.</p>
            </div>
        </div>
    </div>
</section>

<section class="b-double b-double--text-image">
    <div class="-container">
        <div class="b-double__box">
            <div class="b-double__text">
                <p>Давайте говорить честно: на складе полы бывают
                    с неровностями. В штабелере xe1545 используется
                    система EPS электро усилитель рулевого колеса.</p>

                <p>Он позволяет без усилий управлять штабелером
                    на неровных полах.</p>
            </div>
            <div class="b-double__image" style="background-image: url('/assets/template/img/tmp/product-bg-2.jpg');">
                <div class="b-double__label wow bounceInRight">
                    <div class="b-double__label-caption">
                        ВЫСОТА
                    </div>
                    <div class="b-double__label-text">
                        Высота 4,5 метра и
                        свободным ходом.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-eps" style="background-image: url('/assets/template/img/tmp/eps-bg.jpg')">
    <div class="container">
        <div class="b-eps__caption">Преимущество техники</div>
        <div class="b-eps__box">
            <div class="b-eps__left">

            </div>
            <div class="b-eps__right">
                <div class="product__label">EPS</div>
                <p>Давайте говорить честно: на складе полы бывают с неровностями.
                    В штабелере xe1545 используется система EPS электро усилитель
                    рулевого колеса.</p>

                <p>Он позволяет без усилий управлять штабелером на неровных полах.</p>
            </div>
        </div>
    </div>
    <img src="/assets/template/img/tmp/eps.png" alt="" class="b-eps__image wow fadeInLeft">
</section>

<section class="b-battery" style="background-image: url('/assets/template/img/tmp/battery-bg.jpg')">
    <div class="container">
        <div class="b-battery__box">
            <div class="b-battery__left">
                <div class="product__label">Батарея</div>

                <p>При интенсивном использовании штабелера более 8-10 часов
                    в день, нужна дополнительная батарея. Весит батарея для
                    штабелера порядка 200 кг.</p>

                <p>Менять батарею можно вертикально или горизонтально.
                    Если меняем вертикально, то нам необходимо пол часа
                    времени, дополнительный штабелер и двое сотрудников….)
                    Дизайн xe 1545 предусматривает удобную боковую замену
                    батареи.</p>

                <p>Замена производится 1 человеком в течении 2 минут без
                    использования дополнительного оборудования.</p>
            </div>
            <div class="b-battery__right">

            </div>
        </div>
    </div>
</section>

<section class="b-hilt" style="background-image: url('/assets/template/img/tmp/hilt-bg.jpg')">
    <div class="container">
        <div class="b-hilt__box">
            <div class="b-hilt__left">

            </div>
            <div class="b-hilt__right">
                <div class="product__label">Рукоятка</div>
                <p>Важно, чтобы управление техникой было максимально простым и
                    понятным. Очень часто на штабелерах используются дешевые рукоятки.
                    Они быстро выходят из строя, электроника в них не надежна,
                    пользоваться ими сложно и неудобно.
                    Рукоятка FREI на Zowell xe 1545 производство Германия.
                    Надежна, удобна и долговечна.</p>
            </div>
        </div>
    </div>
    <img src="/assets/template/img/tmp/hilt.png" alt="" class="b-hilt__image">
</section>


<section class="b-terms">
    <div class="container">
        <div class="b-terms__box">
            <div class="b-terms__left">

            </div>
            <div class="b-terms__right">
                <h3>Условия продажи и доставки</h3>
                <ul>
                    <li>Штабелер может использоваться в магазинах, торговых центрах, складских помещениях, при разгрузке фур и т.д.</li>
                    <li>Модель Zowell xe 1545 была разработана для максимальной оптимизации работы на складе. Штабелер может работать 24 часа в сутки, 7 дней в неделю.</li>
                    <li>Зачастую все хотят, чтобы купленная один раз техника</li>
                </ul>
            </div>
        </div>
    </div>
    <img src="/assets/template/img/tmp/terms.png" alt="" class="b-terms__image wow fadeInLeft">
</section>

<section class="b-related">
    <div class="container">
        <div class="b-related__caption">Похожие товары</div>
        <div class="b-related__box">
            <div class="b-related__item">
                <div class="b-related__card">
                    <a href="#" class="b-related__link">
                        <div class="b-related__image-box">
                            <div class="b-related__image" style="background-image: url('/assets/template/img/tmp/popular-1.jpg')"></div>
                            <div class="b-related__overlay"></div>
                        </div>
                        <div class="b-related__name">Название товара</div>
                    </a>
                </div>
            </div>
            <div class="b-related__item">
                <div class="b-related__card">
                    <a href="#" class="b-related__link">
                        <div class="b-related__image-box">
                            <div class="b-related__image" style="background-image: url('/assets/template/img/tmp/popular-1.jpg')"></div>
                            <div class="b-related__overlay"></div>
                        </div>
                        <div class="b-related__name">Название товара</div>
                    </a>
                </div>
            </div>
            <div class="b-related__item">
                <div class="b-related__card">
                    <a href="#" class="b-related__link">
                        <div class="b-related__image-box">
                            <div class="b-related__image" style="background-image: url('/assets/template/img/tmp/popular-1.jpg')"></div>
                            <div class="b-related__overlay"></div>
                        </div>
                        <div class="b-related__name">Название товара</div>
                    </a>
                </div>
            </div>
            <div class="b-related__item">
                <div class="b-related__card">
                    <a href="#" class="b-related__link">
                        <div class="b-related__image-box">
                            <div class="b-related__image" style="background-image: url('/assets/template/img/tmp/popular-1.jpg')"></div>
                            <div class="b-related__overlay"></div>
                        </div>
                        <div class="b-related__name">Название товара</div>
                    </a>
                </div>
            </div>
            <div class="b-related__item">
                <div class="b-related__card">
                    <a href="#" class="b-related__link">
                        <div class="b-related__image-box">
                            <div class="b-related__image" style="background-image: url('/assets/template/img/tmp/popular-1.jpg')"></div>
                            <div class="b-related__overlay"></div>
                        </div>
                        <div class="b-related__name">Название товара</div>
                    </a>
                </div>
            </div>
        </div>
        <a href="#" class="viewmore">Смотреть далее</a>
    </div>
</section>

//= include/footer.html